# Kopiraj ovaj fajl u .env i popuni vrednosti

# Konekcioni string ka MongoDB bazi.
# Lokalni Mongo:
MONGO_URI=mongodb://127.0.0.1:27017/blogplatforma
# ili MongoDB Atlas (cloud):
# MONGO_URI=mongodb+srv://korisnik:lozinka@cluster.mongodb.net/blogplatforma

# Tajni ključ za potpisivanje JWT tokena (stavi bilo koji dug nasumičan string)
JWT_SECRET=promeni_me_u_dug_nasumican_string

# Port na kome backend sluša (frontend očekuje 3001)
PORT=3001
